<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Demosuite">
	<test name="Login">
		<classes>
			<class name="test.Firsttest">
				<methods>
					<include name="testgoogle" />
					<include name="testfacebook" />


				</methods>

			</class>
		</classes>

	</test>

</suite> 

